/* blog header */
.account-header span{
	margin-inline: 3px;
}

/* blog btn  */
.btn0{

}
.btn0:hover{

}
.btn1{
	width: 35%;
	height: 45px;
	border: none;
	outline: none;
	background-color: deepskyblue;
	color: whitesmoke;
	font-weight: 500;
	border-radius: 60px;
}
.btn1:hover{
	background-color: lightblue;
	transition: 0.5s;
}
.btn2{
	height: 45px;
	width: 100px;
	background-color: whitesmoke;
	margin-right: -10px;
	border: 2px solid whitesmoke;
	font-weight: 600;
}
.btn2:hover{
	background-color: darkgray;
	color: whitesmoke;
	border: darkgray solid 2px;
}

/* blog footer */
footer{
	background-color: black;
	color: whitesmoke;
}
.email{
	height: 45px;
	width: 50%;
	border: 2px solid white;
	outline: none;
	color: black;
	margin-top: 20px;
	background-color: whitesmoke;
	font-weight: 600;
	padding-inline: 10px;
}